[main]
fping_location = "/usr/sbin/fping"
src_host = "127.0.0.1"

[influxdb]
url = "http://10.20.30.40:8086"
db = "ping"
measurement = "ping"
user = "ping"
pass = "pong"

[hosts]
hosts_group = [
    ["127.0.0.1", "localhost"]
    ["8.8.8.8", "aliasmy"]
]
another_group = [
    ["8.8.4.4", "other"]
]
